@media (min-width: 991px) {

    header > h2 {
        font-size: 24px;
        margin: 5px 60px 5px 60px;
    }

    header > button {
        margin: 30px; 
    }

    #fonctionnement-section {
        margin-top: 28px;
        height: min-content;
        display: flex;
        padding: 0px 20px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #fonctionnement-section > h2 {
        margin-right: 20px;
    }

    #restaurants-section {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }

    #restaurants-section > h2 {
        padding: 20px 0px 0px 20px;
        width: 100%;
    }

    #restaurants-section > a {
        width: 25%;
    }
    #restaurants-section > article {
        width: 100%;
    }

    #se-first {
        margin-top: 10px;
    }
    
    .page-section {
        padding: 0px;
        margin: 10px;
        width: 31%;
        float: left;
    }

    main > button {
        padding: 10px 20px;
        margin: 20px;
    }

    #command-div {
        position: relative;
        top: 260px;
        width: 100%;
        background-color: var(--OMF-gray-light);
        z-index: -1;
    }

    footer {
        top: 750px;
    }
}