* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto,Shrikhand;
    /* Variables globales */
    --OMF-purple-primary : #9356DC;
    --OMF-pink-secondary : #FF79DA;
    --OMF-cyan-tertiary : #99E2D0;
    --OMF-gray-dark : #353535;
    --OMF-gray : #eaeaea;
    --OMF-gray-light : #f6f6f6;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}