.comparators {
    /*Need to use 1440px / 75% with chrome dev tools*/
    position: absolute;
    width:375px;
    top: 0px;
    left: 0px;
    object-fit: fill;
    opacity: 0.5;
}

header {
    text-align: center;
    background-color: lightgray;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50px;
}

header > nav > img {
    width: 164px;
}

header > input {
    width: 100%;
    height: 50px;
    border: none;
    text-align: center;
}

header > button {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    border: none;
    background: rgb(255,121,218);
    background: linear-gradient(176deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
}






















footer {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    background-color: var(--OMF-gray-dark);
}

footer > img {
    width: 80px;
    margin: 20px 0px;
    background-color: white;
}

footer > a {
    margin: 10px 0px;
    color: white;
}