header > img {
    width: 100%;
    margin-top: 60px;
    height: 280px;
}

#button-to-home {
    position: fixed;
    z-index: 11;
    padding: 25px 24px 15px;
}

#button-to-home > i {
    font-size: 24px;
}

h1 {
    font-family: Shrikhand;
    font-size: 28px;
    font-weight: 300;
    margin: 29px 20px 0px;
}

h1 > svg {
    margin-left: 27px;
}

.heart-inside {
    /* left: calc(100% - 287px); */
    position: relative;
    left: -30px;
    z-index: 3;
    opacity: 0;
}

main {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    position: absolute;
    top: 285px;
    background-color: var(--OMF-gray-light);
}

section {
    padding: 10px 20px;
}

section > h2 {
    font-weight: 100;
    font-size: 18px;
    width: 50px;
    box-shadow: inset 0px -2px 0px 0px var(--OMF-cyan-tertiary);
    padding-bottom: 3px;
    opacity: 0;
    animation: 1s animation-appear linear;
    animation-fill-mode: forwards;
}

section > article {
    width: 100%;
    margin: 13px 0px;
    padding: 5px;
    height: 70px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%);
    opacity: 0;
    animation: 1s animation-appear linear;
    animation-fill-mode: forwards;
    overflow: hidden;
}

#se-first {
    margin-top: 20px;
}

.se-1 { animation-delay: 500ms; }
.se-2 { animation-delay: 1000ms; }
.se-3 { animation-delay: 1500ms; }



section > article > h4 {
    top: 8px;
    left: 0px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section > article > h5 {
    top: 12px;
    left: 0px;
    font-size: 15px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section > article:hover h5{
    width: 65%;
}

section > article:hover h4{
    width: 78%;
}

section > article > p {
    top: -5px;
    position: relative;
    text-align: end;
    margin-right: 10px;
}

section > article:hover p {
    margin-right: 70px;
}

section > article > div {
    position: relative;
    display: flex;
    top: -67px;
    left: 110%;
    height: 75px;
    width: 70px;
    background-color: var(--OMF-cyan-tertiary);
    justify-content: center;
    align-items: center;
}

section > article:hover div {
    left: calc(100% - 60px);
}

section > article > div > i {
    color: white;
    font-size: 24px;
    transform: rotate(180deg);
    transition-duration: 1s;
}

section > article:hover i {
    transform: rotate(720deg);
}

#command-div {
    display: flex;
    position: relative;
    top: 940px;
    justify-content: center;
    width: 100%;
    padding: 40px;
    background-color: var(--OMF-gray-light);
    z-index: -1;
}

footer {
    position: absolute;
    top: 1444px;
    width: 100%;
}